@media screen and (min-width:83.1rem){

    @import url(../Playfair_Display_SC/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf);


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;

}



.parent{
    width: 90rem;
    height: 107.563rem;
    position: relative;
    overflow: hidden;
}
/* Images top start */

/* Images top start */
.topsection{
    width: 100%;
    height: 50.625rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    
}

.Content{
    width: 29rem;
    height: 29.125;
    
}

.Content h1{
    font-size: 5rem;
    margin-bottom: 2rem;
}

.Content p{
    color: rgba(54, 48, 49, 1);
    margin-bottom: 2rem;
    font-size: larger;
}

.Content button{
    width: 11.188rem;
    height: 4.125rem;
    background-color: rgba(163, 106, 79, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 2.25rem;
    border: none;
}

/* lift side section end  */

/* right side section start */

.Heroimages img{
    width: 36.563rem;
    height: 37.063rem;
}

/* right side section end */

/* Images top end */

/* list section start */

.listitem{
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45.25rem;
}

.list{
    width: 54.875rem;
    height: 11.75rem;
    border-radius: 5rem;
    background-color: rgba(236, 218, 196, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.list div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list img{
    width: 2.25rem;
    height: 2.25rem;
    margin-bottom: 0.6rem;
}

.list h1{
    margin-bottom: 0.6rem;
}

.list p{
    text-align: center;
    color: rgba(54, 48, 49, 1);
}

/* list section end  */

/* Images bottom start  */

.bottomsection{
    width: 100%;
    height: 57rem;
    background-color: rgba(54, 48, 50, 1);
    display: flex;
    justify-content: center;
    align-items: end;
}

.imagegallery{
    width: 85rem;
    height: 36.125rem;
    margin-bottom: 6rem;
    display: grid;
    grid-template-areas: 
    "   .ing1  .ing2   .ing3   .ing4   .ing5   "
    "   .ing6  .ing7   .ing3   .ing8   .ing9   "
    ;
}

.imagegallery div{
    margin: 0.5rem;
}

.ing1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 2rem;
    grid-area: ing1;
}

.ing1 h1{
    color: white;
    margin-bottom: 1rem;
    font-size: 3rem;
}

hr{
    border: 2px solid white;
    background-color: white;
    width: 80%;
}
.ing2{
grid-area: ing2;
}
.ing3{
    grid-area: ing3;
}
.ing4{
    grid-area: ing4;
}
.ing5{
    grid-area: ing5;
}
.ing6{
    grid-area: ing6;
}
.ing7{
    grid-area: ing7;
}
.ing8{
    grid-area: ing8;
}

.ing9{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2rem;
    grid-area: ing9;
}
.ing9 h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    color: white;
}


/* Images bottom end */

}