
@media only screen and (min-width: 35.188rem) and (max-width:50rem) {

    @import url(../Playfair_Display_SC/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf);

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }



    body{
        width: 100%;
        height: 100vh;
        font-family: "Playfair Display SC", serif;
        font-weight: 400;
        font-style: normal;
        
    }
    
    .parent{
        width: 100%;
        height: 150rem;
        position: relative;
        overflow: hidden;
    }
    /* Images top start */
    
    /* Images top start */
    .topsection{
        width: 100%;
        height: 45.625rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        position: relative;
    }
    
    .Content{
        width: 25rem;
        height: 25.125;
        position: absolute;
        bottom: 90px;
    }

    .Content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Content h1{
        font-size: 2rem;
        text-align: center;
        margin: 1rem 1rem 1rem 1rem  ;
    }
    .Content h1 br{
        display: none;
    }
    
    
    .Content p{
        color: rgba(54, 48, 49, 1);
        margin-bottom: 1.5rem;
        padding: 0px 50px;
        font-size: medium;
        text-align: center;
    }

    .Content p br{
        display: none;
    }
    
    .Content button{
        width: 10.188rem;
        height: 4rem;
        background-color: rgba(163, 106, 79, 1);
        color: rgba(255, 255, 255, 1);
        border-radius: 2rem;
        border: none;
    }
    
    /* lift side section end  */
    
    /* right side section start */
    .Heroimages {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Heroimages img{
        width: 22.563rem;
        height: 22.063rem;
        position: absolute;
        margin: 2rem;
        top: 0;

    }
    
    /* right side section end */
    
    /* Images top end */
    
    /* list section start */
    
    .listitem{
        width: 100%;
        height: 11rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 40.25rem;
    }
    
    .list{
        width: 30rem;
        height: 5.5rem;
        border-radius: 4.5rem;
        background-color: rgba(236, 218, 196, 1);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .list div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .list img{
        width: 1rem;
        height: 1rem;
        margin-bottom: 0.2rem;
    }
    
    .list h1{
        margin-bottom: 0.18rem;
        font-size: small;
    }
    
    .list p{
        text-align: center;
        color: rgba(54, 48, 49, 1);
        font-size: 8px;
    }
    
    /* list section end  */
    
    /* Images bottom start  */
    
    .bottomsection{
        width: 100%;
        /* height: 54rem; */
        height: 1700px;
        background-color: rgba(54, 48, 50, 1);
        display: flex;
        justify-content: center;
        align-items: start;
        /* position: absolute;
        bottom: 0; */
    }
    
    .imagegallery{
        width: 320px;
        height: 45%;
        display: grid;
        margin-top: 5rem;
        justify-content: center;
        grid-template-areas: 
        ".ing1  .ing2"
        ".ing3  .ing4"
        ".ing3  .ing5 "
        ".ing6  .ing7"
        ".ing8  .ing9"
        ;
        position: absolute;
    }
    
    .imagegallery div{
        margin: 0.2rem;
    }
    
    .ing1{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: 2rem;
        grid-area: ing1;
    }
    
    .ing1 h1{
        color: white;
        margin-bottom: 1rem;
        font-size: 3rem;
    }
    
    hr{
        border: 2px solid white;
        background-color: white;
        width: 80%;
    }
    .ing2{
        grid-area: ing2;
    }
    .ing3{
        grid-area: ing3;
    }

    .ing4{
        grid-area: ing4;
    }
    .ing5{
        grid-area: ing5;
    }
    .ing6{
        grid-area: ing6;
    }
    .ing7{
        grid-area: ing7;
    }
    .ing8{
        grid-area: ing8;
    }
    
    .ing9{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 2rem;
        grid-area: ing9;
    }
    .ing9 h1{
        margin-bottom: 1rem;
        font-size: 3rem;
        color: white;
    }
}